<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>
    <p>Identificate en la plataforma para comenzar!!</p>

    <div class="alert alert-success col-md-5 mt-3" 
    *ngIf="status == 'success'">
        Bienivendo
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        Credenciales incorrectas
    </div>



    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-md-5 ml-0 pl-0">
        <div class="form-group">
            <label for="email">Email</label>
            <input 
            #email="ngModel" [(ngModel)] ="user.email"
 
            required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            type="email" name="email" class="form-control">
            <small 
            *ngIf="!email.valid && email.touched"
            class="invalid-feedback d-block">
                El email no es valido
            </small>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input 
            #password="ngModel" [(ngModel)] = "user.password"

            required
            type="password" name="password" class="form-control">
            <small 
            *ngIf="!password.valid && password.touched"
            class="invalid-feedback d-block">
                La contraseña no es valida
            </small>
        </div>
        <input type="submit" value="Identificarce" class="btn btn-success" 
        >
    </form>
</div>