<form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="form-group">
        <input 
        formControlName="file" id="file" type="file" class="form-control" 
        (change)="onFileChange($event)">
        <div *ngIf="f['file'].touched && f['file'].invalid" 
        class="alert alert-danger">
            <div *ngIf="f['file'].errors && f['file'].errors['required']">
                El archivo es requerido
            </div>
        </div>
    </div>

    <button class="btn btn-success" [disabled]="myForm.invalid" type="submit">Guardar archivo</button>
</form>