/* You can add global styles to this file, and also import other style files */
.post-image{
    height: 200px;
    overflow: hidden; /* oculta todo lo que sibrepase los 200px */
}
footer{
    color: lightgray
}


.post-image-edit{
    height: 320px;
    width: 320px;
    overflow: hidden; /* oculta todo lo que sibrepase los 200px */
}